@inherits LayoutComponentBase
@inject IHttpContextAccessor ctx;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <link rel="stylesheet" href="/LibraryBox.Web.styles.css" /> *@
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/app.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <HeadOutlet />
</head>

<body>
    @Body

    @if (ctx.HttpContext?.Request.Headers.ContainsKey("Hx-Request") == false)
    {
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
        @* <script src="https://unpkg.com/hyperscript.org@0.9.12"></script> *@
        @* <script src="https://unpkg.com/petite-vue" init></script> *@
    }
</body>

</html>