<html>

<main>
	<p class="hidden" data-typewriter _="on click fetch /test put the result into .something">
		This text will animate as if being typed.
		And this is what it looks like with more text.
	</p>
</main>

<script type="module">
	import { add } from './util.js';
	const el = document.querySelector('[data-typewriter]');
	const text = el.innerHTML;
	el.innerText = '';
	el.classList.remove('hidden');
	let idx = 0;
	const interval = setInterval(() => {
		requestAnimationFrame(() => {
			el.innerHTML += text[idx++];
			if (idx === text.length)
				clearInterval(interval);
		});
	}, 30);
</script>

<style>
	main {
		display: block;
		margin: auto;
		width: 200px;
		border: 1px solid black;
	}

	.hidden {
		display: none;
	}
</style>

</html>