@code {
	[Parameter]
	public string? Height { get; set; } = null;

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object>? Attributes { get; set; }
}

<div class="flex" style="@(@Height != null ? $"height: {Height}" : false)" @attributes="Attributes">
	@ChildContent
</div>