@code {
	[Parameter]
	public string Height { get; set; } = "auto";

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object>? Attributes { get; set; }
}

<div class="flex" style="height: @Height;" @attributes="Attributes">
	@ChildContent
</div>